html, body {
	height: 100%;
}

body {
	background-color: rgb(18, 18, 18);
	color: white;
	display: flex;
	align-items: center;
}

td {
	border: solid 1vw;
	width: 15vw;
	height: 15vw;
	text-align: center;
	font-family: cursive;
	font-size: 3em;
}

table {
	border-collapse: collapse;
	margin: auto;
}

td.\30 {
	border-left: none;
}

tr.\30 > td {
	border-top: none;
}

tr.\32 > td {
	border-bottom: none;
}

td.\32 {
	border-right: none;
}
